* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  /* Sin subrayado */
}
button,img,li{
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  /* Subrayado al pasar el mouse */
}

ul,
ol {
  list-style: none;
  /* Elimina los puntos de las listas */
}

body {
  background-color: #0a0a0a;
  font-family: 'Mukta', sans-serif;
  overflow-x: hidden;
}

:root {
  --yellow: rgb(254 240 138)
}

::-webkit-scrollbar{
  width: 7px;
  height: 10px;
  color: var(--yellow);
}

::-webkit-scrollbar-thumb {
  background: var(--yellow); /* Color del thumb */
  border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  transition: all .5s ;
  background: rgb(189, 178, 93); /* Cambia el color del thumb al pasar el cursor */
}